<!DOCTYPE html>
{% load static %}
<html>
<head>
   <title>Facenix</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
   <link href="{% static 'images/flame-icon.png' %}" rel="shortcut icon" type="image/x-icon">
   <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</head>
<body>
   <nav class="navbar navbar-dark" style="background: rgba(25, 25, 25, .6)">
      <a class="navbar-brand rcorner1" href="/">
         <img src="{% static 'images/facenix-icon.png' %}" height="30">
      </a>
   </nav>


   <div class="container text-white">
      <p></p>

      <!-- Control panel -->
      <div class="row">
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
               <div class="row"><label for="ori"><h5>1. Please upload your picture:</h5></label></div>
               <div class="row">
                  <div class="col col-md-8"  style="padding:1px">
                     <input type="file" class="form-control-file" id="ori" name="ori" required>
                  </div>
                  <div class="col col-md-4"  style="padding:1px">
                  <button type="submit" class="btn btn-light btn-block" onclick="up_btn()">Upload</button>
                  </div>
               </div>
            </div>
         </form>
      </div>




      <div class="row">
         <!-- Show origin image and result -->
         <div class="col col-md-4">
            <div>
               <h4>Origin:</h4>
               {% if ori_img_url %}
                  <img id="ori_img" src="{{ ori_img_url }}" height="256">
               {% else %}
                  <img id="ori_img" src="{% static 'images/facebook_thumb.jpg' %}" height="256">
               {% endif %}
               <p></p>
            </div>
         </div>


         <div class="col col-md-4">
               <div>
                  <h4>Result:</h4>
                  {% if res_img_url %}
                     <img id="res_img" src="{{ res_img_url }}" height="256">
                  {% else %}
                     <img id="res_img" src="{% static 'images/facebook_thumb.jpg' %}" height="256">
                  {% endif %}
               </div>
         </div>

      </div>


   </div>

</body>
</html>
